.image {
    width: 132px;
    height: 132px;
    border-radius: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

.intro {
    margin: auto;
    width: 80%;
    text-align: center;
}

.profile {
    margin-top: 24px;
}