<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume.2016.mlee.pdf">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		<li><a href="/projects">Projects</a><li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:matthewjlee256@gmail.com">email</a></li>
	        		<li><a href="https://github.com/matthewjlee">git</a></li>
	        		<li><a href="https://www.linkedin.com/in/matthew-lee-57b66396">linkedin</a></li>
	        		<li><a href="https://www.instagram.com/matthewjlay/">insta</a><li>
	        		<li><a href="https://soundcloud.com/matthew-lee-5">soundcloud</a><li>
				</ul>
			</footer>
		</body>
	</html>
